.background {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.top {
    background-color: hsl(232, 19%, 15%);
}

.bottom {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 120%;
    justify-content: center;
    align-content: center;
    background-color: hsl(230, 17%, 14%);
}



.grid-container {
    position: relative;
    bottom: 23%;
    display: grid;
    grid-template: 12% 30% 12% 17% 17% / 23% 23% 23% 23%;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.grid-container > div {
    margin: 0px;
}

.smd-info {
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: flex-start;
    grid-area: 1/1/span 1/span 3;
    color: white;
}

.dark-mode {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: 1/4/span 1/span 1;
}

.dark-mode > div {
    margin-right: 40px;
}

.view {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: 3/1/span 1/span 4;
    color: white;
    font-size: 2vw;
    font-weight: lighter;
}

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: hsl(228, 28%, 20%);
    color: white;
    width: 100%;
    border-radius: 2px;
}

.facebook {
    border-top: 4px solid hsl(208, 92%, 53%);
}

.twitter {
    border-top: 4px solid hsl(203, 89%, 53%);
}

.instagram {
    border-top: solid 4px;
    border-radius: 2px;
    border-color : hsl(6, 100%, 80%);
}

.youtube {
    border-top: 4px solid hsl(348, 97%, 39%);
}

.switch {
    position: relative;
    display: inline-block;
    right: 15px;
}

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;

  }

  .slider {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 15px;
    top: 0;
    left: -10px;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right ,hsl(210, 78%, 56%),hsl(146, 68%, 55%));
  }

   .slider::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 2px;
    bottom: 2px;
    background-color: hsl(230, 17%, 14%);
    -webkit-transition: .4s;
    transition: .4s;
   }
  
   input:checked + .slider {
    background-image: linear-gradient(hsl(230, 22%, 74%),hsl(230, 22%, 74%));
  }

  .input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    /* -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px); */
    transform: translateX(16px);
    background-color: white;
  }

  .round {
    border-radius: 34px;
  }

  .round:before {
    border-radius: 50%;
  }

  .overview {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: hsl(228, 28%, 20%);
    color: white;
    width: 100%;
    border-radius: 2px;
}

.v-icon {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 80%;
    height: auto;
}

.v-icon > img {
    width: 12%;
    height: auto;
}

.v-rate {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 80%;
    height: auto;
}


.d-icon {
    display: flex;
    justify-content: center;
    width: 80%;
}

.d-icon > div {
    margin: 4px;
}

.d-icon > img {
    width: 12%;
    height: auto;
}

.dashboard > div {
    width: 80%;
    text-align: center;
}

.d-num {
    font-weight: bolder;
    font-size: 3vw;
}

.d-text {
    font-size: 1.2vw;
    letter-spacing: 3px;
    color: hsl(228, 34%, 66%);
}

.v-num {
    font-size: 2vw;
    font-weight: bold;
}

.v-text {
    color: hsl(228, 34%, 66%);
    font-size: 1vw;
}

.icon-up {
    font-size: 0.8vw;
    color: hsl(163, 72%, 41%);
}

.icon-down {
    font-size: 0.8vw;
    color: hsl(356, 69%, 56%);
}


@media only screen and (max-width: 375px){
    .background {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% 85%;
        justify-content: center;
        align-content: center;
        width: 100vw;
        height: 500vw;
    }

    .bottom {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 110%;
        justify-content: center;
        align-content: center;
        background-color: hsl(230, 17%, 14%);
    }      

    .grid-container {
        position: relative;
        bottom: 10%;
        display: grid;
        grid-template: repeat(2,5%) repeat(4,10%) repeat(9,5%)/80%;
        justify-content: space-evenly;
        align-content: space-evenly;
    }
    
    .grid-container > div {
        margin-bottom: 10px;
    }

    .smd-info {
        display: flex;
        flex-direction:column ;
        justify-content: center;
        align-items: flex-start;
        grid-area: 1/1/span 1/span 1;
        color: white;
        border: 1px solid transparent;
        border-bottom: 1px solid hsl(228, 34%, 66%);

    }
    
    .dark-mode {
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-area: 2/1/span 1/span 1;
    }
    
    .view {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        grid-area: 7/1/span 1/span 1;
        color: white;
        font-size: 5vw;
        font-weight: lighter;
    }
    
    .switch {
        position: relative;
        display: inline-block;
        right: 15px;
    }

    .d-num {
        font-weight: bolder;
        font-size: 8vw;
    }
    
    .d-text {
        font-size: 3vw;
        letter-spacing: 3px;
        color: hsl(228, 34%, 66%);
    }
    
    .v-num {
        font-size: 5vw;
        font-weight: bold;
    }
    
    .v-text {
        color: hsl(228, 34%, 66%);
        font-size: 3vw;
    }
    
    .icon-up {
        font-size: 2vw;
        color: hsl(163, 72%, 41%);
    }
    
    .icon-down {
        font-size: 2vw;
        color: hsl(356, 69%, 56%);
    }
    
}
